
p, label {
    font-size: 16px;
    line-height: 1.5rem;
  }
  .logo-aloitussivu {
    width: 350px;
}

.logo-container-aloitussivu {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 1rem 0 5rem;
}

.kehote {
  margin-bottom: 3rem;
}

  .linkki-huolto {
    color: var(--black);
  }
  
      .otsikko {
          text-align: center;
          margin: 11rem 0 5rem 0;
      }
  
      form {
          display: flex;
          flex-direction: column; 
          justify-content:right;
          align-items: center;
       } 
  
   
  .tiedot {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex-basis: 0;
      flex-grow: 1;
      margin-right: 8rem;
  }
        .tiedot > * {
          padding-block-end: 1rem;
          display: flex;
          flex-direction: row;
          /* width: 39rem; */
          justify-content: right;
          align-items: flex-end;
        }
  
        label {
          padding: 2px 1rem;
          margin-bottom: 0;
        }
  
        .asia-koskee {
          text-align: right;
        }
  
        .tiedot > * {
          margin: 0.3rem;
        }
  
        #taloyhtio {
          width:  30rem;
           height: 1.9rem;
            border-radius: 5px;
            border: solid;
            border-width: 1px;
            font-size: 16px;
            padding: 0.2rem 1rem;
            border: none;
            box-shadow: 3px 0px 15px 0.5px rgba(99, 99, 101, 0.6);
            font-family: 'Poppins';
        }
  
      .kenttä {
          width:  30rem;
         height: 1.9rem;
          border-radius: 5px;
          border: solid;
          border-width: 1px;
          font-size: 1rem;
          padding: 0.2rem 1rem;
          border: none;
          box-shadow: 3px 0px 15px 0.5px rgba(99, 99, 101, 0.6);
          font-family: 'Poppins';
      }

      input.active, input:active {
        outline: 0;
        border: none;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      }
      
      
      input.focus, input:focus {
        outline: 0;
        border: none;
      }
      .viesti {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          flex-basis: 0;
          flex-grow: 1;
          padding-block-end: 1rem;
          align-items: flex-start;
        }
  
      textarea{
          font-size: 16px;
          border: none;
          box-shadow: 3px 0px 15px 0.5px rgba(99, 99, 101, 0.6);
          border-radius: 5px;
          width: 30rem;
          font-family: 'Poppins';
          padding-left: 1rem;
      }

  
  
     
  .button-container {
      /* width: 46rem; */
      margin-block-end: 5rem;
      text-align: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-basis: 0;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      /* width: 27rem; */
      padding-top: 1.5rem;
      
  
  }
  
  .button {
    margin: 0 0.5rem;
      margin-top: 1rem;
  }
  
 
  /* TABLET */

  @media only screen and (max-width: 769px) {
   
    .otsikko {
      font-size: 25px;
      margin: 3rem 0;
    }

    .kehote {
      margin-bottom: 1rem;
    }
    
      .linkki-huolto {
        color: var(--black);
      }
      
        
    .logo-container-aloitussivu {
      margin: 1rem 0 2rem;
  }
    .logo-aloitussivu {
      width: 250px;
    }

    .tiedot {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      flex-basis: 0;
      flex-grow: 1;
      margin-right: 8rem;
  }
     
        #taloyhtio {
          width:  28rem;
           height: 1.5rem;
            font-size: 14px;
        }
  
      .kenttä {
        width:  28rem;
        height: 1.5rem;
          font-size: 0.8rem;
      }

    .section-2 a{
      font-size: 20px;
    }
  }

   /* MOBILE */
  
   @media only screen and (max-width: 427px) {
  
  .logo-container-aloitussivu {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
  } 
  
  .logo-container-aloitussivu {
      margin: 1rem 0;
  }
    .logo-aloitussivu {
      width: 250px;
      display: flex;
    }



    .otsikko {
      font-size: 25px;
      margin: 3rem 0 2rem 0;
    }

    .kehote {
      margin-bottom: 1rem;
    }
    
      .linkki-huolto {
        color: var(--black);
      }
  
  form {
    justify-content:center;
    align-items: center;
 } 

  .tiedot > * {
    /* padding-block-end: 1rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.3rem;
  }
    .tiedot {
      flex-direction: column;
      margin-right: 0;
  }
  .syöte {
    padding-bottom: 0;
  }

  label {
    padding: 10px 1rem;
    margin-bottom: 0;
  }
     
        #taloyhtio {
          width:  22rem;
           height: 1.5rem;
            font-size: 14px;
        }
  
      .kenttä {
        width:  22rem;
        height: 1.5rem;
          font-size: 0.8rem;
          /* margin-top: 0.2rem; */
      }
      .button-container {
        margin-block-end: 1rem;
      }

      .button {
        margin: 0 0.5rem;
          margin-top: 0;
      }

  }

