@import url(MQ-Mobile.css);
@import url(MQ-Tablet.css);

.Wrapper {
  width: 100%;
  background-color: var(--beige);
  overflow-x: hidden;
}



.slog-part {
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  padding-block-start: 12rem;
  padding-block-end: 4rem;
}

.slog-part h1 {
  text-align: center;
  margin: 3rem 0;
}

.box-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: 0 3px 7px 3px rgb(131, 130, 130);
}


.box-image{
  height: 400px;
  /* background-image: url(./images/Screenshot\ 2023-09-15\ at\ 20.15.40.png); */
  background-image: url(./images/Screenshot\ 2023-09-15\ at\ 20.03.52.png);
  background-size: 300px;
  color: var(--black);
  /* border: var(--orange) solid 5px; */
  border-radius: 10px;
}

.blue {
  background-color: var(--orange);
  border-radius: 10px;
  /* height: 100% ; lisätty */
}
.section-2 {
  display: flex;
  text-align: center;
  justify-content: center;
  /* align-items: center; */
  height: 400px;
  /* margin: 3rem 0px; */
  margin: 4rem 0 2.8rem 0rem;
}


.box-image {
  height: 400px;
  /* background-image: url(./images/Screenshot\ 2023-09-15\ at\ 20.15.40.png); */
  background-image: url(./images/Screenshot\ 2023-09-15\ at\ 20.03.52.png);
  background-size: 300px;
  color: var(--black);
  /* border: var(--orange) solid 5px; */
  border-radius: 10px;
}


.blue {
  background-color: var(--orange);
  border-radius: 10px;
  /* height: 100% ; lisätty */
}
.section-2 {
  display: flex;
  text-align: center;
  justify-content: center;
  /* align-items: center; */

  /* margin: 3rem 0px; */
  margin: 4rem 0 2.8rem 0rem;
}

.box-section-2:hover {
  background-color: var(--blue-box-1);
  box-shadow: 3px 6px 5px gainsboro;
} 

a:hover{
  color: var(--purple);
}

.box-section-2 p {
  font-size: 15px;
  text-align: center;
  font-weight: 800;
  margin-top: 2rem;
  height: 400px;
  width: 300px;
}

.section-3 {
  width: 100%;
  height: 380px;
  margin: 3rem 0;
  background-color: var(--yellow);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-3 h1{
  padding-bottom: 2rem;
}
.section-3 h3{
  padding-bottom: 0.5rem;
}

.taloyhtiöTiedottaa {
  margin-bottom: 1rem;
}

.five {
  font-size: 25px;
  font-weight: 800;
  margin: 1rem 0 2rem;
  padding: 0.7rem 0.9rem;
  object-fit: cover;
  text-align: center;
  color: var(--beige);
  /* border: 1px solid black; */
  border-radius: 50%;
  background-color: var(--purple);
}
/* .linkkiTie,
.sec4-ilmoitus {
  font-size: 18px;
  border-bottom: 1px solid black;
  cursor: pointer;
} */

.sec4-ilmoitus {
  font-size: 18px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.section-4 {
  width: 60%;
  margin: auto;
  padding-block-start: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-4 h2{
  padding-bottom: 2rem;
}
.section-4 h1{
  padding-bottom: 2rem;
}
.section-4 .Tähän-Käyttäjä, 
.section-4 .tähän-lyhyt{
  padding-bottom: 2rem;
  text-align: center;
}

.Tähän-Käyttäjä {
  /* font-size: 1.3rem; */
  text-align: center;
}

.linkki-ilmoitus {

  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid black;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  width: 250px;
  display: flex;
}

/* .takaisin-ylös {
  padding-top: 1rem;
} */

.section-5 {
  width: 100%;
  padding: 3rem;
  margin: 3rem auto;
}

.container-grid {
  padding: 0 4rem;
  width: 100%;
  height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    "area-01 area-04 area-07"
    "area-01 area-04 area-07"
    "area-01 area-05 area-07"
    "area-02 area-05 area-08"
    "area-02 area-06 area-08"
    "area-03 area-06 area-08";
}

.area-04 {
  grid-area: area-04;
  background-color: var(--orange);
}

.area-05 {
  grid-area: area-05;
  background-color: var(--blue);
}

.area-06 {
  grid-area: area-06;
  background-color: var(--orange);
}

.area-07 {
  grid-area: area-07;
  background-color: var(--blue-box-1);
}

.area-08 {
  grid-area: area-08;
  background-color: var(--orange);
}

.area-03 {
  grid-area: area-03;
  background-color: var(--blue-box-1);
}

.area-02 {
  grid-area: area-02;
  background-color: var(--blue-box-1);
}

.area-01 {
  grid-area: area-01;
  background-color: var(--blue);
}

.text-center p {
  font-size: 20px;
}

.linkki-lisää {
  margin-bottom: 2rem;
}

.linkki-ylös {
  margin-block-end: 4rem;
}

.button-container {
  /* width: 46rem; */
  margin-block-end: 5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0;
  flex-grow: 0.5;
  justify-content: center;
  align-items: center;
  /* width: 27rem; */
  padding-top: 1.5rem;
  

}



@media screen and (max-width: 1100px) {
  .title-footer li {
    font-size: 15px;
  }

  .slog-part h1 {
    font-size: 25px;
  }

  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "area-01 area-02"
      "area-03 area-04"
      "area-05 area-06"
      "area-07 area-08";
  }
}


@media screen and (min-width: 769px) and (max-width: 1100px) {
  .section-footer {
    padding: 0 4rem;
  }

  .img-footer {
    align-self: -1;
  }
  .section-footer {
    padding: 0 4rem;
  }

  .img-footer {
    align-self: -1;
  }
  .title-footer li {
    font-size: 15px;
  }

  .slog-part h1 {
    font-size: 25px;
  }

  .title-nav li a {
    font-size: 18px;
  }

  .logo {
    width: 150px;
  }
  .slogan {
    font-size: 30px;
    text-align: center;
    padding: 2rem;
  }
  .slog-part {
    padding: 10px 0;
  }

  .container-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "area-01 area-02"
      "area-03 area-04"
      "area-05 area-06"
      "area-07 area-08";
  }


  .img-footer{
    width:120px;
    height: auto;
  }



  .section-2 a{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 10px 10px;
    grid-template-areas:
      "area-01"
      "area-02"
      "area-03"
      "area-04"
      "area-05"
      "area-06"
      "area-07"
      "area-08";
  }

  .title-footer li {
    font-size: 12px;
  }
  .slogan {
    font-size: 30px;
    text-align: center;
    padding: 2rem;
  }


  
}
